section {
    visibility: visible;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 4s;
}
.modal-content{
    border-radius: 0px;
}
.modal-footer{
    background-color:  #faed27;
}

.exampleImage{
    width: 100%;
}
.my-modal {
    min-width: 90%;
}
.text-center {
    justify-content: center;
}
ul {
    list-style-type:none;
}
#description{
    text-align: justify;

}

#techBadge:hover{
    transition: .5s ease;
    background-color:  #faed27;
  }

.exampleImage:hover{
    transition: .4s ease;
    -webkit-filter: drop-shadow(0px 5px 5px rgb(150, 150, 150));
    filter:         drop-shadow(0px 5px 5px rgb(150, 150, 150)); 
  }